imbalanced_learn==0.10.1
logs==0.1.0
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.3
pandas_datareader==0.10.0
pandas_ta==0.3.14b0
python_dateutil==2.8.2
scikit_learn==1.2.1
scipy==1.10.0
seaborn==0.11.2
yfinance==0.2.32
